<h1>Word Puzzle</h1>
<h3>Enter Your Sentence and See the Results on the Next Page!</h3>
<form action="/results">
  <div class="form-group">
    <label for ="string_one">Your Sentence</label>
    <input id="string_one" name="string_one" class="form-control" type="text" required="true">
  </div>

  <button type="submit" class="btn btn-info">Send</button>
</form>
