<!DOCTYPE html>
<html>
  <head>
    <title>Word Puzzle</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <style>
  body {background-color:lightblue}
  h1 {color:yellow}
  </style>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
